/* Start here
--------------------------------*/

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url("http://madeindonesia-wp.local/wp-content/themes/baity_janaty/assets/fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: 'Roboto-Bold';
  font-style: normal;
  font-weight: 700;
  src: url("http://madeindonesia-wp.local/wp-content/themes/baity_janaty/assets/fonts/Roboto-Bold.ttf");
}

@font-face {
  font-family: 'Roboto-Light';
  font-style: normal;
  font-weight: 300;
  src: url("http://madeindonesia-wp.local/wp-content/themes/baity_janaty/assets/fonts/Roboto-Light.ttf");
}


@font-face {
  font-family: 'SairaSemiCondensed-Bold';
  font-style: normal;
  font-weight: 700;
  src: url("http://madeindonesia-wp.local/wp-content/themes/baity_janaty/assets/fonts/SairaSemiCondensed-Bold.ttf");
}

@font-face {
  font-family: 'SairaSemiCondensed-Light';
  font-style: normal;
  font-weight: 300;
  src: url("http://madeindonesia-wp.local/wp-content/themes/baity_janaty/assets/fonts/SairaSemiCondensed-Light.ttf");
}

@font-face {
  font-family: 'SairaSemiCondensed-Regular';
  font-style: normal;
  font-weight: 400;
  src: url("http://madeindonesia-wp.local/wp-content/themes/baity_janaty/assets/fonts/SairaSemiCondensed-Regular.ttf");
}

body{
  font-family: 'SairaSemiCondensed-Regular';
  line-height: 1.8;
}

@media (min-width: 1400px) {
  .container{
    width:1370px;
    margin: 0 auto;
  }
}

ul li{
  list-style-type: none;
}

li:hover {
    background-color: dodgerblue;
}

ul{
  padding-left: 0;
}

a:hover, a:focus {
    color: peru;
    text-decoration: none;
}

html,body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; 
}

/* About section
--------------------------------*/

.header--bg {
  background: url("http://madeindonesia-wp.local/wp-content/uploads/2020/05/main-img.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
}

.header__content{
  padding-bottom: 140px;
  padding-top: 140px;
}

.header__content__block{
  font-size: 35px;
  color: #fff;
  text-transform: uppercase;
}

.header__content__title{
    font-size: 61px;
    font-weight: bold;
    color: #fff;
    margin-top: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-transform: uppercase;
    word-spacing: 12px;
}

.header__button{
  padding: 11px 45px;
  background-color: #7f56fd;
  border-radius: 0px;
  display: inline-block;
  font-size: 30px;
  color: #fff;
  margin-top: 70px;
}

.header__button:hover {
    background-color: blueviolet;
}

.navbar .navbar-nav {
  float: right;
}
.navbar .nav > li > a {
  text-shadow: none;
}

.navbar .navbar-nav > li > a, .navbar .navbar-brand, .navbar .navbar-nav > li > a:focus{
  background-color: transparent;
  color: #fff;
}

.navbar-nav > li > a:hover {
    color: violet;
}

.nav li a{
  font-size: 25px;
}

.navbar{
  padding-top:30px;
}

.navbar-toggle{
  background-color: #ddd;
}

.navbar-toggle .icon-bar{
  background-color: #fff;
}

.navbar-brand {
  background: url("http://madeindonesia-wp.local/wp-content/uploads/2020/05/logo-1.png") no-repeat;
  padding-left: 45px;
  height: 100px;
  width: 300px;
  background-position: center;
  background-size: 120px 120px;
}

@media (min-width: 768px) {
  .nav{
    float: right;
  }
}

.active {
  background-color: rgba(34,34,34,0.8);
}

/* About section
--------------------------------*/

.page-section-about {
	margin-top: 100px;
  margin-bottom: 100px;
  background-color: #be6037;
}

.profile__image > img {
  height: 370px;
  width: 450px;
}

.about__content {
  padding-top: 10px;
  padding-bottom: 30px;
  padding-left: 120px;
  color: white;
}

.bio__profile {
  margin: 10px;
  width: 500px;
}

.about__bio__title {
  color: white;
}

.about__bio__name {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
}

.about__bio__par {
  font-size: 20px;
}

.profile__button{
  background-color: #7f56fd;
  border-radius: 0px;
  display: inline-block;
  color: #fff;
  margin: 10px; 
  padding: 11px 30px;
  font-size: 20px;
}

.profile__button:hover {
    background-color: blueviolet;
}

/* Portfolio Section
--------------------------------*/
#portfolio {
  background: #fff;
  padding: 10px 0;
}


#portfolio .section-description {
  font-size: 30px;
}

.col-md-12 {
  text-align: center;
}

#portfolio .section-title {
  font-weight: bold;
  font-size: 40px;
  font-family: serif;
  margin-top: -10px;
  margin-bottom: 30px;
}

#portfolio .portfolio-item {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  height: 300px;
  width: 100%;
  display: table;
  overflow: hidden;
  margin-bottom: 30px;
}

#portfolio .portfolio-item .details {
  height: 260px;
  background: #fff;
  display: table-cell;
  vertical-align: middle;
  opacity: 0;
  transition: 0.3s;
  text-align: center;
}

#portfolio .portfolio-item .details h4 {
  font-size: 30px;
  transition: transform 0.3s, opacity 0.3s;
  transform: translate3d(0, -15px, 0);
  font-weight: 700;
  font-family: serif;
  color: #333333;
}

#portfolio .portfolio-item:hover .details {
  opacity: 0.8;
}

#portfolio .portfolio-item:hover .details h4 {
  transform: translate3d(0, 0, 0);
}

#portfolio .portfolio-item:hover .details span {
  transform: translate3d(0, 0, 0);
}

/* Testimonial Section
--------------------------------*/
@media (min-width: 992px) {
  .col-md-6 { 
    width: 30%;
  }
}

#testimonial .title-testimonial {
  margin-top: 20px;
  margin-bottom: 20px;
}

#testimonial .bio-testimonial .item-img {
  float: right;
}

#testimonial .bio-testimonial .item-bio {
  text-align: justify;
  height: 200px;
  width: 400px;
}

/* #testimonial .owl-dots {
  position: relative;
  top: 0;
  right: 0;
  justify-content: center;
} */

#testimonial .item-img > img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

/* #testimonial .owl-theme .owl-dots .owl-dot,
#testimonial .owl-theme .owl-dots .owl-dot span {
  display: inline-block;
}

#testimonial .owl-theme .owl-dots .owl-dot span {
  margin: 20px 5px;
} */

#testimonial h1, h3 {
  color: black;
}

#testimonial h1 {
  font-size: 45px;
  font-weight: bold;
  margin-top: -5px;
}

#testimonial h3 {
  font-size: 30px;
}

#testimonial p,
.tst-author h2, {
  display: inline;
}

#testimonial p {
  color: black;
  font-size: 20px;
  line-height: 35px;
}

.tst-author {
  margin-top: -10px;
}

.tst-author h2 {
  color: black;
}

.swiper-container {
    width: 600px;
    height: 500px;
}

/*==================== 
	Footer 
====================== */

/* Main Footer */
footer .main-footer{	padding: 20px 0;	background: black; }
footer ul{	padding-left: 0;	list-style: none; }
footer .container { margin-top: 10%; }

/* Copy Right Footer */
.footer-copyright {	background: black;	padding: 5px 0;}
.footer-copyright .logo {    display: inherit;}
.footer-copyright nav {    float: right;    margin-top: 5px;}
.footer-copyright nav ul {	list-style: none;	margin: 0;	padding: 0;}
.footer-copyright nav ul li {	border-left: 1px solid #505050;	display: inline-block;	line-height: 12px;	margin: 0;	padding: 0 8px; text-decoration: none; }
.footer-copyright nav ul li a{	color: #969696;}
.footer-copyright nav ul li:first-child {	border: medium none;	padding-left: 0;}
.footer-copyright p {	color: #969696;	margin: 2px 0 0;}

/* Footer Top */
.footer-top{	background: black;	padding-bottom: 30px;	margin-bottom: 30px;	border-bottom: 3px solid black;}

/* Footer transparent */
footer.transparent .footer-top, footer.transparent .main-footer{	background: transparent;}
footer.transparent .footer-copyright{	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3) ;}

/* Footer light */
footer.light .footer-top{	background: #f9f9f9;}
footer.light .main-footer{	background: #f9f9f9;}
footer.light .footer-copyright{	background: none repeat scroll 0 0 rgba(255, 255, 255, 0.3) ;}

/* Footer 4 */
.footer- .logo {    display: inline-block;}

/*==================== 
	Widgets 
====================== */
.widget{	padding: 20px;	margin-bottom: 40px;}
.widget.widget-last{	margin-bottom: 0px;}
.widget.no-box{	padding: 0;	background-color: transparent;	margin-bottom: 40px;
	box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none; -ms-box-shadow: none; -o-box-shadow: none; width: 80%%;}
.widget.subscribe p{	margin-bottom: 18px;}
.widget li a{	color: white; font-size: 20px; pointer-events: none;}
.widget .company-bio > li:hover {
  background: none !important;
}
.widget-title {margin-bottom: 20px; font-size: 20px; }
.widget-title span {background: #839FAD none repeat scroll 0 0;display: block; height: 1px;margin-top: 25px;position: relative;width: 20%;}
.widget-title span::after {background: inherit;content: "";height: inherit;    position: absolute;top: -4px;width: 50%;}
.widget-title.text-center span,.widget-title.text-center span::after {margin-left: auto;margin-right:auto;left: 0;right: 0;}
.widget .badge{	float: right;	background: #7f7f7f;}
.widget .brand-logo { 
    width: 40%;
    background-color: gray;
    border-radius: 50%;
    margin-left: 25%; 
}

ul.company-bio { padding-left:20px; list-style:none; }
ul.company-bio > li { margin-bottom:10px; }
ul.company-bio > li.company-address:before {    
    font-family: 'FontAwesome';
    content: "\f041";
    margin:0 5px 0 -15px;
}
ul.company-bio > li.company-number:before {    
    font-family: 'FontAwesome';
    content: "\f095";
    margin:0 5px 0 -15px;
}
ul.company-bio > li.company-email:before {    
    font-family: 'FontAwesome';
    content: "\f003";
    margin:0 5px 0 -15px;
}

.typo-light h1, 
.typo-light h2, 
.typo-light h3, 
.typo-light h4, 
.typo-light h5, 
.typo-light h6,
.typo-light p,
.typo-light div,
.typo-light span,
.typo-light small{	color: #fff;}

ul.social-footer2 {	margin: 0;padding: 0;	width: auto; text-align: center;}

.social-footer2 .social-h5 {
  font-size: 175%;
}

.col-md-12 .fa {
  margin: 10px;
  font-size: 200%;
  color: white;
}


/*==================== 
	Page
====================== */

.main-page {
  margin-left: 15%;
}